* {
    padding: 0px;
    margin: 0px;
    font-family: 'Century Gothic';
    /* overflow: hidden; */
}

.navbar {
    /* background-color:rgba(235, 62, 241, 0.295); */
    /* background-color: cadetblue; */
    width: 100%;
    overflow: hidden;
    /* position: fixed; */
    position: absolute;
    display: block;
}

.logo {
    height: 100px;
    width: 100px;
    /* background-image: url(img/Group\ 18.png); */
    /* background-size: cover; */
    /* background-color:cadetblue; */
    color: white;
    float: left;
    /* margin: 0 auto; */
    line-height: 100px;
    margin-left: 50px;
}

.gambar {
    height: 80%;
    width: 80%;
    /* background-image: url(img/Group\ 18.png); */
    background-size: cover;
    /* background-color: brown; */
    margin: o auto;
}

.logo h1{
    margin: 0 auto;
}

.menu a {
    /* background-color: maroon; */
    text-decoration: none;
    color:rgb(255, 255, 255);
    float:right;
    padding: 20px 30px;
    line-height: 60px;
    box-sizing: border-box;
    font-weight: bold;
}

.menu a:hover {
    /* background-color:rgba(255, 255, 255, 0.514); */
    color:lightblue;
    border-bottom: 3px solid lightblue;
}

.container {
    width: 100%;
    height: 1800px;
    /* background-color: lightseagreen; */
    background-image: url(img/malte-wingen-5qT09yIbROk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -700px;
}

.slideshowcont {
    position: absolute;
    left: 34.5%;
}

.mySlides {
    display: none;
    top: 200px;
}

.dodot {
    position: absolute;
    top:550px;
    left: 49%;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; 
}

.active {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


.up {
    width: 500px;
    height: 50px;
    /* background-color: mediumslateblue; */
    position:absolute;
    top: 720px;
    left:35%;
}

.up h1 {
    font-size: 24px;
    text-align: center;
    color: black;
    line-height: 50px;
}

.con {
    width: 56%;
    height: 300px;
    margin: 0 auto;
    /* background-color: white; */
    position: absolute;
    top: 800px;
    left: 23%;
}

.a {
    width: 250px;
    height: 300px;
    /* border: 1px solid black; */
    background-color: white;
    float: left;
}

.a h1 {
    color: black;
    margin-left: 10px;
    font-size: 24px;
}

.a p {
    color: black;
    margin-left: 10px;
    font-size: 16px;
}

.a1 {
    width: 90%;
    height: 50%;
    margin: 0 auto;
    border: 1px solid black;
    background-image: url(img/matthew-smith-Rfflri94rs8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.b {
    width: 250px;
    height: 300px;
    /* border: 1px solid black; */
    background-color: white;
    float: left;
    margin-left: 50px;
}

.b h1 {
    color: black;
    margin-left: 10px;
    font-size: 24px;
}

.b p {
    color: black;
    margin-left: 10px;
    font-size: 16px;
}

.b1 {
    width: 90%;
    height: 50%;
    margin: 0 auto;
    border: 1px solid black;
    background-image: url(img/atharva-tulsi-gcU6y0qhEio-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.c {
    width: 250px;
    height: 300px;
    /* border: 1px solid black; */
    background-color: white;
    float: left;
    margin-left: 50px;
}

.c h1 {
    color: black;
    margin-left: 10px;
    font-size: 24px;
}

.c p {
    color: black;
    margin-left: 10px;
    font-size: 16px;
}

.c1 {
    width: 90%;
    height: 50%;
    margin: 0 auto;
    border: 1px solid black;
    background-image: url(img/vitaly-taranov-g-58RBROIfc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5px;
}

.iklan {
    width: 100%;
    height: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.719);
    position:absolute;
    top: 1400px;

}

.sp1 {
    width: 200px;
    height: 200px;
    background-color: white;
    background-image: url(img/download.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position-x: -33px; */
    border-radius: 50%;
    margin:100px 50px;
    float: left;
}

.sp2 {
    width: 200px;
    height: 200px;
    background-color: white;
    background-image: url(img/wonderful-indonesia-logo-B415890EF6-seeklogo.com.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin:100px 50px;
    float: left;
}

.sp3 {
    width: 200px;
    height: 200px;
    background-color: white;
    background-image: url(img/unnamed.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin:100px 50px;
    float: left;
}

.sp4 {
    width: 200px;
    height: 200px;
    background-color: white;
    background-image: url(img/KAB\ JEMBER.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -33px;
    background-position-y: 10px;
    border-radius: 50%;
    margin:100px 50px;
    float: left;
}

.sp5 {
    width: 200px;
    height: 200px;
    background-color: white;
    background-image: url(img/images.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin:100px 50px;
    float: left;
}
