* {
    padding: 0px;
    margin: 0px;
    font-family: 'Century Gothic';
}

.navbar {
    /* background-color:rgba(235, 62, 241, 0.295); */
    /* background-color: cadetblue; */
    width: 100%;
    overflow: hidden;
    /* position: fixed; */
    position: absolute;
    display: block;
}

.logo {
    height: 100px;
    width: 100px;
    /* background-image: url(img/Group\ 18.png); */
    /* background-size: cover; */
    /* background-color:cadetblue; */
    color: white;
    float: left;
    /* margin: 0 auto; */
    line-height: 100px;
    margin-left: 50px;
}

.gambar {
    height: 80%;
    width: 80%;
    /* background-image: url(img/Group\ 18.png); */
    background-size: cover;
    /* background-color: brown; */
    margin: o auto;
}

.logo h1{
    margin: 0 auto;
}

.menu a {
    /* background-color: maroon; */
    text-decoration: none;
    color:rgb(255, 255, 255);
    float:right;
    padding: 20px 30px;
    line-height: 60px;
    box-sizing: border-box;
    font-weight: bold;
}

.menu a:hover {
    /* background-color:rgba(255, 255, 255, 0.514); */
    color:lightblue;
    border-bottom: 3px solid lightblue;
}

.container {
    width: 100%;
    height: 1000px;
    background-image: url(img/alex-rodriguez-santibanez-sNaugOUc4yk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pattern {
    width: 100%;
    height: 400px;
    /* background-color: rgba(151, 151, 151, 0.397); */
    background-image: url(img/lilly-rum-eE4YBIxSP60-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -350px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}

.judul {
    width: 500px;
    height: 50px;
    /* background-color: mediumslateblue; */
    position:absolute;
    top: 400px;
    left:35%;
}

.judul h1 {
    font-size: 24px;
    text-align: center;
    color:white;
    line-height: 50px;
}

.syarat {
    width: 450px;
    height: 500px;
    /* background-color: mediumpurple; */
    position: absolute;
    color: white;
    top: 500px;
    left: 3%;
}

.syarat h3 {
    margin-top: 30px;
    font-size: 32px;
}

.syarat h5 {
    font-size: 20px;
}

.TL {
    width: 500px;
    height: 500px;
    /* background-color: mediumpurple; */
    position: absolute;
    color: white;
    top: 500px;
    left: 38%;
}

.TL h5 {
    margin-top: 130px;
    font-size: 20px;
}

.hadiah {
    width: 450px;
    height: 500px;
    /* background-color: mediumpurple; */
    position: absolute;
    color: white;
    top: 500px;
    right: 3%;
}
.hadiah h5 {
    margin-top: 130px;
    font-size: 20px;
}
