* {
    padding: 0px;
    margin: 0px;
    font-family: 'Century Gothic';
}

.navbar {
    /* background-color:rgba(235, 62, 241, 0.295); */
    /* background-color: cadetblue; */
    width: 100%;
    overflow: hidden;
    /* position: fixed; */
    position: absolute;
    display: block;
}

.logo {
    height: 100px;
    width: 100px;
    /* background-image: url(img/Group\ 18.png); */
    /* background-size: cover; */
    /* background-color:cadetblue; */
    color: white;
    float: left;
    /* margin: 0 auto; */
    line-height: 100px;
    margin-left: 50px;
}

.gambar {
    height: 80%;
    width: 80%;
    /* background-image: url(img/Group\ 18.png); */
    background-size: cover;
    /* background-color: brown; */
    margin: o auto;
}

.logo h1{
    margin: 0 auto;
}

.menu a {
    /* background-color: maroon; */
    text-decoration: none;
    color:rgb(255, 255, 255);
    float:right;
    padding: 20px 30px;
    line-height: 60px;
    box-sizing: border-box;
    font-weight: bold;
}

.menu a:hover {
    /* background-color:rgba(255, 255, 255, 0.514); */
    color:lightblue;
    border-bottom: 3px solid lightblue;
}

.container {
    width: 100%;
    height: 3506px;
    background-color:cadetblue;
}

.tawaran {
    width: 500px;
    height: 50px;
    /* background-color: mediumslateblue; */
    position:absolute;
    top: 150px;
    left:35%;
}

.tawaran h1 {
    font-size: 24px;
    text-align: center;
    color: white;
}

.harga {
    width: 600px;
    height: 200px;
    background-color:wheat;
    border:3px solid white;
    position: absolute;
    top: 200px;
    left: 50%;
}

.harga p {
    margin: 30px 30px;

}

.ptrn1 {
    width: 700px;
    height:250px;
    border:5px solid white;
    background-color:#F6D7B0;
    position: absolute;
    left:-30px;
    top: 800px;
}

.angkut {
    width: 400px;
    height: 150px;
    border:3px solid white;
    position: absolute;
    background-color: wheat;
    color: black;
    position: absolute;
    top: 200px;
    left: 150px;
}

.gmbr {
    width: 1000px;
    height: 500px;
    border-top: 7px solid white;
    border-left: 7px solid white;
    border-bottom: 7px solid white;
    background-color: #F6D7B0;
    background-image: url(img/jordan-ladikos-AzXvM3IoYMI-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 480px;
}

.tittle {
    width: 500px;
    height: 50px;
    /* background-color: #F6D7B0; */
    position: absolute;
    top: 500px;
    left: 35%;
}

.tittle h1 {
    font-size: 24px;
    text-align: center;
    color:#FFC300;
}

.ptrn2 {
    width: 500px;
    height: 950px;
    border: 5px solid white;
    background-color: #F6D7B0;
    position: absolute;
    top: 980px;
    left: 35%;
}

.tempatw1 {
    width: 500px;
    height: 300px;
    border: 7px solid white;
    background-color: #FFC300;
    background-image: url(img/papuma.jpg);
    position:absolute;
    right: 100px;
    top: 850px;
}

.tempatw1D {
    width: 500px;
    height: 300px;
    background-color: white;
    position: absolute;
    left: 100px;
    top: 850px;
}

.tempatw1D h5{
    margin: 20px 20px;
    font-size: 28px;
}
 .tempatw1D p {
    margin: 20px 20px;
    text-align: justify;
}

.tempatw2 {
    width: 500px;
    height: 300px;
    border: 7px solid white;
    background-color: #FFC300;
    background-image: url(img/ulo1.jpg);
    position:absolute;
    left:100px;
    top:1300px;
}

.tempatw2D {
    width: 500px;
    height: 300px;
    background-color: white;
    position: absolute;
    right: 100px;
    top: 1300px;
}

.tempatw2D h5{
    margin: 20px 20px;
    font-size: 28px;
}
 .tempatw2D p {
    margin: 20px 20px;
}

.tempatw3 {
    width: 500px;
    height: 300px;
    border: 7px solid white;
    background-color: #FFC300;
    background-image: url(img/seputih.jpg);
    position:absolute;
    right:100px;
    top:1730px;
}

.tempatw3D {
    width: 500px;
    height: 300px;
    background-color: white;
    position: absolute;
    left: 100px;
    top: 1730px;
}

.tempatw3D h5{
    margin: 20px 20px;
    font-size: 28px;
}
 .tempatw3D p {
    margin: 20px 20px;
}

.makanan {
    width: 800px;
    height: 600px;
    border-top: 7px solid white;
    border-left: 7px solid white;
    border-bottom: 7px solid white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #F6D7B0;
    background-image: url(img/jakub-kapusnak-4f4YZfDMLeU-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    top: 2300px;
}

.penginapan {
    width: 800px;
    height: 600px;
    border-top: 7px solid white;
    border-right: 7px solid white;
    border-bottom: 7px solid white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #F6D7B0;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 2200px;
}

.fasilitas {
    width: 500px;
    height: 50px;
    /* background-color: mediumslateblue; */
    position:absolute;
    top: 2350px;
    left:10px;
}

.fasilitas h1 {
    font-size: 50px;
    text-align: center;
    color: black;
    line-height: 50px;
}

.fasilitasD {
    width: 600px;
    height: 300px;
    font-size: 20px;
    /* background-color: white; */
    position:absolute;
    left:10px;
    top:2450px;
}
.fasilitasD li {
    list-style-type: decimal;
    color: black;
    margin: 20px 20px;
}

.ptrn3 {
    width: 700px;
    height: 300px;
    background-color:#F6D7B0;
    border-top: 5px solid white;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    /* border-top-right-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
    position: absolute;
    left: 0px;
    top: 2900px;
}

.ptrn4 {
    width: 400px;
    height: 400px;
    background-color:#F6D7B0;
    border-top: 5px solid white;
    border-right: 5px solid white;
    border-left: 5px solid white;
    /* border-top-right-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
    position: absolute;
    left: 40%;
    top: 3100px;
}

.button {
    width: 100px;
    height: 50px;
    /* background-color: white; */
    position: absolute;
    top: 3200px;
    left: 48%;
}

.submit {
    width: 100px;
    height: 50px;
}
